.root-background-color {
  background-color: #f4f4f6;
  height: 100vh;
}

#root {
  height: 100vh;
  background-color: #f4f4f6;
}

@media (min-width: 200px) and (max-width: 600px) {
  .root-background-color {
    background-color: #f4f4f6;
    height: auto;
  }

  #root {
    height: 100vh;
    background-color: #f4f4f6;
  }
}
